* {
  box-sizing: border-box;
  
}

body {
  margin: 0;
}


.nav {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  height: 150px;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.site-title {
  font-size: 2rem;
}
.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li.active {
  background-color: #555;

}

.nav li:hover {
  background-color: #777;
}

.logincontainer {
  display: flex;
  flex-direction: column;
  height: 100vh;

  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration:solid;
  background: rgb(2,0,36);
  background: linear-gradient(25deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 18%, rgba(0,212,255,1) 100%);

}





.unBox {
  height: 30px;

}
.pwBox {
  height: 30px;

}


 .registerform {
  display: flex;
  flex-direction: column;
  height: 100vh;

  align-items: center;
  justify-content: center;
  text-align: center;

  text-decoration:solid;




} 
.registerLink {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;

}

.signInLink {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.boxContainer {
  list-style: none;
  text-decoration: solid;
  justify-content: space-evenly;
  padding: 20px;
  padding-bottom: 30px;
  border-radius: 15px;
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%,
   rgba(194,233,250,1) 18%, rgba(0,212,255,1) 100%);
  width: 700px;
  display: flex;
  flex-direction: column;
}



.logo {
background-color: gainsboro;
height: 100%;
text-align: center;
align-content: center;
vertical-align: middle;

}


.sidebar-container {
  background: rgb(2,0,36);
background: linear-gradient(180deg, rgba(2,0,36,1) 0%,
 rgba(3,3,249,0.3421962535014006) 35%, rgba(0,212,255,1) 100%);
  height: 100vh;
  width: 100%;

}
.logo-row {
  height: 100px;
}



.sideBtn {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.sidebar-container li  {

  list-style: none;


}

.sidebar-container a {
color: inherit;
text-decoration: none;
height: 100%;
width: 100%;
display: flex;
align-items: center;
padding: .25rem;
border-style: solid;
border-color: black;
}

.sidebar-container li:hover {

    background-color: #777;
  
  
}

.sidebar-container li a {
  text-align: center;
  vertical-align: center;
}
.GridItem {
  justify-self:start;
}

.sidebar-row {
  padding: 0;
}



.listContainer {
 justify-items: row;
 width: 100%;
 border-style: solid;
 border-color: #FFE156;
 display: flex;
 flex: 1;
justify-content: center;
}
.list {
  height: 50px;
  border: 3px solid #333;
  width: 100px;
  padding: 10px;
  border-style: dashed;
  min-height: 300px;
  min-width: 300px;
  height: fit-content;
  width: fit-content;
  margin: 10px
}

.card {
  margin: 10px;
  border: 3px solid #333;
  width: 300px;
  min-height: 150px;
  box-shadow: 3px 3px 3px #555;
  background-color: #f5f3f3;

}

.card:hover {
  cursor: pointer;
}

.header {
  border-bottom: 2px solid #333;
  padding: 5px 8px;
  background-color: #c3d3f9;
  text-align: center;
  font-weight: 600;
  min-height: 20px;
}

.content {
  padding: 5px 10px;
}



.add-card-form {
  background-color: greenyellow;
  display: flex;
  flex-direction: column;
}
.newCard {
  background-color: #FFE156;
  padding: 3px 5px;
  border: 2px solid #333;
  box-shadow: 1px 1px 2px #555;
  cursor: pointer;
  font-size: 1em;
}

.new-card-input {
  margin: 10px;
  padding: 5px;
}

.text-input {
  padding: 5px;
  margin: 11px 0;
  font-size: 1em;
  width: 270px;
  min-height: 80px;
  resize: none;
}



.listTitle {
  text-align: center;
}



/*Sketchpad styling below*/
body {
  text-align: center;
  background-color:thistle;
}

h1 {
   background-color: blanchedalmond;
}

.welcome {
   background-color: goldenrod;
   font-weight:bolder;
}
#gameContainer {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding: auto;
   border-style: solid;
   border-color: maroon;
   background-color: aqua;
   
}

.welcome {
   border-style: solid;
   border-color: maroon;
   padding: 10px;
   text-align: center;
}
.start {

   width: 90px;

}


.start ,
.clear {
   border-style: solid;
   border-color: black;
   border-radius: 5px;
   height: 50px;
   margin: 10px;
}


.clear:hover ,
.start:hover {
   background-color: azure;
}

#divContainer {
   border-style: solid;
   border-color:greenyellow;
   display:flex;
   justify-content: center;
   margin-left: auto;
   margin-right: auto;
   margin-top: auto;
   margin-bottom: auto;
   height: 500px; 
   width: 500px;
   border-radius: 2px;
   background-color: white;
 
}

.row {
   width: 100%;
   height: 100%;
   flex: 1; 
   display: grid;
}

.column {
   border: 1px solid black;
   width: auto;
   height: auto; 

}


.aboutLink {
  display: flex;
  flex-direction: column;
}

.homeContainer {
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(194,233,250,1) 18%, rgba(0,212,255,1) 100%);
  height: 100vh;
}

.aboutContainer {
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(194,233,250,1) 18%, rgba(0,212,255,1) 100%);
  height: 100vh;
}